@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(Styles/header.css);
@import url(Styles/carrossel.css);
@import url(Styles/topicos.css);
@import url(Styles/contatos.css);
@import url(Styles/footer.css);

:root {
    --cor-fundo: #EBECEE;
    --cor-branco: #FFFFFF;
    --cor-amarelo: #EB9B00;
    --cor-azul: #002F52;
    --cor-cinza: #858585;
    --cor-cinza-escuro: #474646;

    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-texto: 'Poppins', sans-serif;
    --font-sec: 'Josefin Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-texto);
}
