@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-fundo: #EBECEE;
    --cor-branco: #FFFFFF;
    --cor-amarelo: #EB9B00;
    --cor-azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-texto: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
}

.cabeçalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.containerBotao:checked ~ .listaMenu {
    display: block;
}

.menuHamburguer {
    width: 2rem;
    height: 2rem;
    background-image: url(imagens/Menu.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1rem;
}

.imgContainer {
    padding: 1rem;
}

.listaMenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.titulo {
    color: var(--cor-amarelo);
    font-family: var(--font-texto);
    font-size: 1rem;
    font-weight: 700;
    
}

.menuItem {
    padding: 1rem;
    background-color: var(--cor-branco);
}

.menuLink {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--font-texto);
    font-size: 1rem;
    font-weight: 400;
}

.banner {
    text-align: center;
    background-color: var(--cor-azul);
    padding: 2.5rem 2rem;
}

.tituloBanner {
    font-family: var(--font-texto);
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--cor-branco);
    margin-bottom: 1rem;
}

.textoBanner {
    font-family: var(--font-texto);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-branco);
    line-height: 1.25rem;
    margin: 1rem;
}

.pesquisaBanner {
    background-color: transparent;
    border: 2px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    width: 100%;
}

.pesquisaBanner::placeholder {
    font-family: var(--font-texto);
    font-size: 0.85rem;
    font-weight: 400;
    text-align: end;
    color: var(--cor-branco);
    background-image: url(imagens/Vector.png);
    background-repeat: no-repeat;
}

.tituloCarrossel {
    color: var(--cor-amarelo);
    text-align: center;
    background-color: var(--cor-branco);
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5rem 0;
}

.cards {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .6rem;
    margin: 1rem .5rem;
    padding: 1rem;
}

.descricao {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.infoCards {
    display: flex;
}

.textosCard {
    display: flex;
    flex-direction: column;
}

.tituloCard {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-amarelo);
    margin-bottom: .5rem;
}

.subtituloCard {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--cor-azul);

}

.descricaoCard {
    font-size: .75rem;
    font-weight: 400;
    margin: 1rem 1.7rem 0 0;
}

.angularLogo {
    margin-bottom: 1.5rem;
}

.botoes {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.saibaMais {
    padding: 1rem 2.26rem;
    background-color: var(--cor-amarelo);
    text-decoration: none;
    color: var(--cor-branco);
    font-weight: 700;
    font-size: 1rem;
}
.topicos {
    background: var(--azul-degrade);
    padding: 1rem 0;
}

.topicosTitulo {
    font-size: 1rem;
    font-weight: 300;
    color: var(--cor-branco);
    text-align: center;
}

.listaTopicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.itemTopicos {
    margin: 2rem .75rem;
}

.ancorasTopicos {
    padding: 1rem;
    background-color: var(--cor-amarelo);
    color: var(--cor-branco);
    text-decoration: none;
    font-size: .75rem;
    font-weight: 700;
}

.contato {
    background-color: var(--cor-branco);
    padding: 1em;
}

.tituloContato,
.textoContato {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tituloContato {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.textoContato {
    font-weight: 300;
    margin-bottom: 1rem;
}

.botaoEmail {
    padding: .75rem;
    border: 1px solid var(--cor-azul);
    border-radius: 1.5rem;
    width: 90%;
    color: var(--cor-azul);
    margin-bottom: 1rem;
}

.botaoEmail::placeholder {
    font-family: var(--font-texto);
    color: var(--cor-azul);
    background-image: url(imagens/email.png);
    background-repeat: no-repeat;
    padding-left: 2rem;
}


.rodape {
    background-color: var(--cor-branco);
    padding: 1rem;
}

.tituloRodape {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-azul);
}
